body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    color: #333;
}
header{
    background-color: #d4a373;
    color: white;
    text-align: center;
    padding: 1.5rem;
}
header h1{
margin: 0;
font-size: 2.5rem;
}
.description{
text-align: center;
margin: 2rem;
font-size: 1.2rem;
}
.menu{
    margin: 2rem auto;
    width: 80%;
}
menu h2{
    text-align: center;
    color: white;
}
table{
    width: 100%;
    margin: 1rem auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 1rem;
}
th, td{
    border: 1px solid #d4a373;
    padding: 0.5rem;
}
th{
    background-color: #d4a373;
    color: white;
}
footer{
    background-color: #d4a373;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.contact{
    margin: 1rem 0;
}